<footer class="sheet-footer flexrow">
    <button name="save" class="save" type="submit">
        <i class="fas fa-save"></i>&nbsp;{{localize "succ.PHRASES.SaveAndClose"}}
    </button>
    <p class="notes">{{localize "succ.ENHANCED_CONDITIONS.OptionConfig.SaveNote"}}</p>
</footer>