<!-- Originally by errational in Combat Utility Belt https://github.com/death-save/combat-utility-belt/blob/master/styles/combat-utility-belt.css -->
<div class="enhanced-conditions header">
    <h3>
        {{state}}
    </h3>
</div>
<div class="enhanced-conditions content" data-token-id="{{actorOrTokenID}}">
    <ul class="chat-message condition-list">
        {{>"modules/succ/templates/condition_line.hbs"}}
    </ul>
</div>