<h2><img src={{condition.img}} width="30" height="30" style="border:0;" /> {{{localize "ENHANCED_CONDITIONS.Dialog.FlyingBuilder.Name"}}}</h2>
{{{localize "ENHANCED_CONDITIONS.Dialog.FlyingBuilder.Body"}}}
<div style="display:flex">
    <p style="flex:3">{{{localize "ENHANCED_CONDITIONS.Dialog.Pace"}}}</p>
    <input type="number" id="pace" value="12" style="flex:1"/></input>
</div>