<h2><img src={{condition.img}} width="30" height="30" style="border:0;" /> {{{localize "ENHANCED_CONDITIONS.Dialog.ProtectionBuilder.Name"}}}</h2>
{{{localize "ENHANCED_CONDITIONS.Dialog.ProtectionBuilder.Body"}}}
<div style="display:flex">
    <p style="flex:3">{{{localize "ENHANCED_CONDITIONS.Dialog.AmountToIncrease"}}}</p>
    <input type="number" id="protectionAmount" value="2" style="flex:1"/></input>
</div>