{{localize "succ.ENHANCED_CONDITIONS.ConditionLab.SortDirectionSave.Content"}}
<div class="form-group">
    <label class="dont-show-again-checkbox">
        {{localize "succ.ENHANCED_CONDITIONS.ConditionLab.SortDirectionSave.CheckboxText" }}
        <input type="checkbox" name="dont-show-again">
    </label>
</div>