{{{localize "ENHANCED_CONDITIONS.Dialog.ApplySystemUpdate.Body"}}}
{{{localize "ENHANCED_CONDITIONS.Dialog.ApplySystemUpdate.Warning"}}}
<div class="formgroup">
    <input type="checkbox" name="dont-ask" style="vertical-align: middle;">
    <label for="dont-ask" style="vertical-align: middle;">
        {{localize "ENHANCED_CONDITIONS.Dialog.ApplySystemUpdate.CheckboxText"}}
    </label>
</div>
        